<link rel="preload" href="https://radio-t.com/build/fonts/vendor/@fortawesome/fontawesome-free/webfa-solid-900.woff" as="font"/>
<link rel="preload" href="https://radio-t.com/build/fonts/vendor/@fortawesome/fontawesome-free/webfa-regular-400.woff2" as="font"/>
{{ if eq (getenv "NODE_ENV") "development" }}
  <script>
    window.RADIOT_THEMES = {
      light: [
        '/vendor.css',
        '/app.css',
      ],
      dark: [
        '/vendor-dark.css',
        '/app-dark.css',
      ],
    };
  </script>
  <script src="/modernizr-bundle.js"></script>
  <script src="/app.js"></script>
{{ else }}
  <script>
    window.RADIOT_THEMES = {
      light: [
        '/build{{ index .Site.Data.manifest "/vendor.css" | safeJS }}',
        '/build{{ index .Site.Data.manifest "/app.css" | safeJS }}',
      ],
      dark: [
        '/build{{ index .Site.Data.manifest "/vendor-dark.css" | safeJS }}',
        '/build{{ index .Site.Data.manifest "/app-dark.css" | safeJS }}',
      ],
    };
  </script>
  <script>{{ readFile "static/build/inline.js" | safeJS }}</script>
  <script src="/build{{ index .Site.Data.manifest "/manifest.js" }}" defer></script>
  <script src="/build{{ index .Site.Data.manifest "/modernizr-bundle.js" }}" defer></script>
  <script src="/build{{ index .Site.Data.manifest "/vendor.js" }}" defer></script>
  <script src="/build{{ index .Site.Data.manifest "/app.js" }}" defer></script>
{{ end }}
