{{ if eq (getenv "NODE_ENV") "development" }}
  <link href="/vendor-dark.css" rel="stylesheet" title="Dark">
  <link href="/app-dark.css" rel="stylesheet" title="Dark">
  <script src="/modernizr-bundle.js"></script>
  <script src="/app.js"></script>
{{ else }}
  <link href="/build{{ index .Site.Data.manifest "/vendor.css" }}" rel="stylesheet">
  <link href="/build{{ index .Site.Data.manifest "/app.css" }}" rel="stylesheet">
  <script src="/build{{ index .Site.Data.manifest "/modernizr-bundle.js" }}"></script>
  <script src="/build{{ index .Site.Data.manifest "/manifest.js" }}"></script>
  <script src="/build{{ index .Site.Data.manifest "/vendor.js" }}"></script>
  <script src="/build{{ index .Site.Data.manifest "/app.js" }}"></script>
{{ end }}
