<div class="bg-primary py-5 text-light">
  <div class="container-fluid">
    <div class="row align-items-baseline">
      <div class="col-md col-lg-7 offset-md-1">
        <h2 class="display-4- h1">Online-вещание</h2>
        <p>
          Запись подкаста производится по субботам, в 23:00 по Московскому времени.
          В это время вы можете слушать нас в прямом эфире по ссылке или прямо здесь.
        </p>
      </div>
      <div class="col-md-5 col-lg-3" data-controller="countdown">
        <h2 data-target="countdown.time">&nbsp;</h2>
        <ul class="list-unstyled">
          <li class="mb-1">
            <i class="fas fa-comments fa-fw mr-2"></i>
            <a href="https://gitter.im/radio-t/chat">Чат подкаста</a>
          </li>
          <li>
            <i class="fas fa-align-left fa-fw mr-2"></i>
            <a href="https://news.radio-t.com/">Темы выпусков от авторов</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
