<div class="page-banners-scroll bg-light">
  <div class="page-banners py-4 py-md-5">
    <div class="container-fluid">
      <div class="row flex-row-reverse flex-lg-row">
        <div class="col d-flex align-items-lg-stretch">
          <a href="http://pirates.radio-t.com/" class="d-block btn btn-outline-primary border-0 bg-white btn-scale text-left flex-grow-1 d-flex flex-column justify-content-around p-4 banner-btn">
            <span class="banner-icon banner-icon-pirates align-self-end"></span>
            <div class="">
              <h4 class="m-0">Пираты РТ</h4>
              <div class="small text-muted-">Дочерний подкаст</div>
            </div>
          </a>
        </div>
        <div class="col d-flex align-items-lg-stretch">
          <a href="https://news.radio-t.com/" class="d-block btn btn-outline-primary border-0 bg-white btn-scale text-left flex-grow-1 d-flex flex-column justify-content-around p-4 banner-btn">
            <span class="banner-icon banner-icon-friends align-self-end"></span>
            <div class="">
              <h4 class="m-0">Новости</h4>
              <div class="small text-muted-">от авторов подкаста</div>
            </div>
          </a>
        </div>
        <div class="col d-flex align-items-lg-stretch">
          <a href="http://friends.radio-t.com/" class="d-block btn btn-outline-primary border-0 bg-white btn-scale text-left flex-grow-1 d-flex flex-column justify-content-around p-4 banner-btn">
            <span class="banner-icon banner-icon-help align-self-end"></span>
            <div class="">
              <h4 class="m-0">Помочь</h4>
              <div class="small text-muted-">любимому подкасту</div>
            </div>
          </a>
        </div>
        <div class="col d-flex align-items-center">
          <a href="https://do.co/radiot" class="btn btn-scale p-0">
            <img
              src="/images/digital-ocean.svg"
              alt="Digital Ocean"
              class="img-fluid"
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
