<div class="bg-light py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <a href="http://pirates.radio-t.com/" class="d-block btn btn-outline-primary btn-scale text-left pt-4">
          <h6 class="m-0">Пираты РТ</h6>
          <div class="small text-muted-">Дочерний подкаст</div>
        </a>
      </div>
      <div class="col-md">
        <a href="http://friends.radio-t.com/" class="d-block btn btn-outline-primary btn-scale text-left pt-4">
          <h6 class="m-0">Друзья</h6>
          <div class="small text-muted-">подкаста Радио-Т</div>
        </a>
      </div>
      <div class="col-md">
        <a href="http://friends.radio-t.com/" class="d-block btn btn-outline-primary btn-scale text-left pt-4">
          <h6 class="m-0">Помочь</h6>
          <div class="small text-muted-">любимому подкасту</div>
        </a>
      </div>
      <div class="col-md">
        <a href="https://www.digitalocean.com/" class="d-block btn btn-outline-info btn-scale bg-white text-left pt-4">
          <h6 class="text-info m-0">
            DigitalOcean
            <span class="badge badge-light">Спонсор</span>
          </h6>
          <div class="small text-body">
            Промокод
            <span class="font-weight-bolder">Radio_T</span>
            <span class="font-weight-bolder text-success">+$10</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
