<div class="bg-light py-3 py-md-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg col-sm-6 my-1 my-sm-3 d-flex align-items-start align-items-md-center">
        <a href="http://pirates.radio-t.com/" class="d-block btn btn-outline-primary border-0 bg-white btn-scale text-left flex-grow-1 d-flex flex-column justify-content-around p-md-4">
          <span class="banner-icon banner-icon-pirates align-self-end"></span>
          <div class="">
            <h4 class="m-0">Пираты РТ</h4>
            <div class="small text-muted-">Дочерний подкаст</div>
          </div>
        </a>
      </div>
      <div class="col-lg col-sm-6 my-1 my-sm-3 d-flex align-items-start align-items-md-center">
        <a href="http://friends.radio-t.com/" class="d-block btn btn-outline-primary border-0 bg-white btn-scale text-left flex-grow-1 d-flex flex-column justify-content-around p-md-4">
          <span class="banner-icon banner-icon-friends align-self-end"></span>
          <div class="">
            <h4 class="m-0">Друзья</h4>
            <div class="small text-muted-">подкаста Радио-Т</div>
          </div>
        </a>
      </div>
      <div class="col-lg col-sm-6 my-1 my-sm-3 d-flex align-items-start align-items-md-center">
        <a href="http://friends.radio-t.com/" class="d-block btn btn-outline-primary border-0 bg-white btn-scale text-left flex-grow-1 d-flex flex-column justify-content-around p-md-4">
          <span class="banner-icon banner-icon-help align-self-end"></span>
          <div class="">
            <h4 class="m-0">Помочь</h4>
            <div class="small text-muted-">любимому подкасту</div>
          </div>
        </a>
      </div>
      <div class="col-lg col-sm-6 my-1 mt-3 my-sm-3 d-sm-flex align-items-start align-items-md-center text-center text-sm-left">
        <a href="https://www.digitalocean.com/" class="btn btn-scale p-0">
          <img
            src="/images/digital-ocean.svg"
            alt="Digital Ocean"
            class="img-fluid"
            style="box-shadow: 0 15px 25px -15px #0080FF;"
          >
        </a>
      </div>
    </div>
  </div>
</div>
