<div
  class="banner-online"
  data-controller="online"
  data-target="page.playerStateReceiver"
  data-action="player-state->online#fetchPlayingState"
>
  <div class="banner-online-inner py-5 text-light">
    <div class="container-fluid">
      <div class="row align-items-baseline">
        <div class="col-md col-lg-6">
          <h2 class="display-4 text-nowrap">
            <small>
              <button class="banner-online-play-button" data-action="online#play" style="margin-left: -.4em;">
                <svg class="play-icon" width="48%" height="48%" viewBox="0 0 448 512">
                  <use xlink:href="#icon-play" />
                </svg>
                <svg class="pause-icon" width="48%" height="48%" viewBox="0 0 448 512">
                  <use xlink:href="#icon-pause" />
                </svg>
              </button>
            </small>
            <a href="/online/">Online-вещание</a>
          </h2>
          <p>
            Запись подкаста производится по субботам, в&nbsp;23:00 по&nbsp;Московскому времени.
            В&nbsp;это время вы можете слушать нас в&nbsp;прямом эфире <a href="https://stream.radio-t.com">по&nbsp;ссылке</a> или прямо здесь.
          </p>
        </div>
        <div class="col-md-5 col-lg-5 offset-lg-1">
          <h2 data-target="online.time">&nbsp;</h2>
          {{ partial "online-links" . }}
        </div>
      </div>
    </div>
  </div>
</div>
