<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-7">
        <h1>
          Подкаст выходного дня
          <small class="d-block my-md-2">Импровизации на темы высоких технологий</small>
        </h1>
        <p class="text-muted small">{{ .Site.Params.longDescription }}</p>
      </div>
      <div class="col-md-5">
        <div class="row flex-column flex-sm-row">
          <div class="col-sm d-flex">
            <a
              href="https://podcasts.apple.com/podcast/радио-т/id256504435"
              class="jumbotron-btn-subscribe btn btn-outline-primary btn-scale bg-white text-left d-flex align-items-center pl-0 my-2 flex-grow-1"
            >
              <div class="px-3">
                <svg width="30" height="30" viewBox="0 0 512 512">
                  <use xlink:href="#icon-music" />
                </svg>
              </div>
              <div class="border-left pl-3 my-2">
                <h3 class="m-0">iTunes</h3>
                <small>Подписка на подкаст</small>
              </div>
            </a>
          </div>
          <div class="col-sm d-flex">
            <a
              href="http://feeds.rucast.net/radio-t"
              class="jumbotron-btn-subscribe btn btn-outline-primary btn-scale bg-white text-left d-flex align-items-center pl-0 my-2 flex-grow-1"
            >
              <div class="px-3">
                <svg width="30" height="30" viewBox="0 0 512 512">
                  <use xlink:href="#icon-rss" />
                </svg>
              </div>
              <div class="border-left pl-3 my-2">
                <h3 class="m-0">RSS</h3>
                <small>Основной RSS подкаста</small>
              </div>
            </a>
          </div>
        </div>
        <div class="text-center small">
          <a href="/feeds/" class="small">Другие способы подписки</a>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron-arc" role="presentation"></div>
  <div class="jumbotron-logo" role="presentation">
    <div class="jumbotron-logo-img"></div>
  </div>
</div>
