<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span class="sr-only">Радио-Т Подкаст</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Подкасты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/archives/">Архивы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/online/">Вещание</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feeds/">Подписка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq/">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/advertising/">Реклама</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://feeds.rucast.net/radio-t" rel="subscribe-rss">RSS</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="//google.com/search" method="get">
        <input type="hidden" name="q" results="0" class="real-search">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск">
      </form>
    </div>
  </div>
</nav>
