<nav class="navbar navbar-expand-lg navbar-light bg-light" data-controller="navbar" data-turbolinks-permanent id="navbar">
  <div class="container-fluid">
    <button class="navbar-toggler btn btn-outline-secondary" type="button" data-action="navbar#toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><span class="sr-only">Радио-Т Подкаст</span></a>
    <div class="navbar-toolbar order-lg-12">
      <button
        type="button"
        title="Поменять цветовую тему"
        aria-label="Поменять цветовую тему"
        class="switch-theme-btn btn btn-outline-secondary mr-lg-1"
        data-controller="theme"
        data-action="click->theme#toggle"
      >
        <svg class="icon-btn" viewBox="0 0 512 512">
          <use xlink:href="#icon-adjust" />
        </svg>
      </button>
      <label
        type="button"
        for="page-search-input"
        class="navbar-btn-search btn btn-outline-secondary m-0"
        data-action="click->search#toggle"
        tabindex="0"
      >
        <svg class="icon-btn" viewBox="0 0 512 512">
          <use xlink:href="#icon-search" />
        </svg>
        <span class="d-none d-lg-inline-block ml-1">&nbsp;Поиск</span>
      </label>
      <button
        type="button"
        class="navbar-btn-sidebar-toggle btn btn-outline-secondary ml-lg-1 page-sidebar-toggle"
        data-action="sidebar#toggle"
      >
        <svg class="icon-btn icon-btn-comments" viewBox="0 0 576 512">
          <use xlink:href="#icon-comments" />
        </svg>
      </button>
    </div>
    <div class="navbar-collapse" data-target="navbar.backdrop navbar.scroll" data-action="click->navbar#closeFromBackdrop">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" no-active>Подкасты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/archives/">Архивы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/online/">Вещание</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feeds/">Подписка</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq/">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sponsor/">Реклама</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
