<div class="col-6 col-md-auto order-md-1 flex-shrink-1 text-left">
  {{ with .PrevInSection }}
    {{ if eq .Type "posts" }}
      &larr; <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
  {{ end }}
</div>
<div class="col-6 col-md-auto order-md-3 flex-shrink-1 text-right">
  {{ with .NextInSection }}
    {{ if eq .Type "posts" }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a> &rarr;
    {{ end }}
  {{ else }}
    {{ if in .Params.categories "podcast" }}
      <strong>Сбор тем начинается в среду</strong>
    {{ end }}
  {{ end }}
</div>
