{{ $paginator := .Scratch.Get "paginator" }}

<div class="row justify-content-between text-content">
  <div class="col-6 col-sm-4 order-sm-1 flex-shrink-1 text-left">
    {{ if $paginator.HasNext }}
      &larr; <a href="{{ .RelPermalink }}page/{{ $paginator.Next.PageNumber }}/">Раньше</a>
    {{ end }}
  </div>
  <div class="col-6 col-sm-4 order-sm-3 flex-shrink-1 text-right">
    {{ if $paginator.HasPrev }}
      {{ if eq $paginator.Prev.PageNumber 1 }}
        {{/* Don't link to page/1, avoid redirects */}}
        <a href="{{ .RelPermalink }}">Позже</a> &rarr;
      {{ else }}
        <a href="{{ .RelPermalink }}page/{{ $paginator.Prev.PageNumber }}/">Позже</a> &rarr;
      {{ end }}
    {{ end }}
  </div>
  <div class="col-sm-4 order-sm-2 text-center">
    <a href="/archives/">Архивы подкаста</a>
  </div>
</div>
