<div
  data-controller="player"
  data-target="page.player"
  id="player"
  class="d-none"
  data-turbolinks-permanent
>
  <div class="player-placeholder"></div>
  <div class="podcast-player-container">
    <div class="podcast-player container-fluid d-md-flex align-items-center flex-nowrap">
      <div class="podcast-player-cover podcast-cover flex-shrink-0">
        <a class="cover-image cover-image-online" data-target="player.cover player.link">
          <div class="online-animation">
            <div class="online-animation-ripple online-animation-ripple-1"></div>
            <div class="online-animation-ripple online-animation-ripple-2"></div>
            <div class="online-animation-ripple online-animation-ripple-3"></div>
            <div class="online-animation-ripple online-animation-ripple-4"></div>
            <div class="online-animation-ripple online-animation-ripple-5"></div>
            <div class="online-animation-dot"></div>
          </div>
        </a>
      </div>

      <h3 class="player-number ml-2 my-0">
        <a data-target="player.number player.link"></a>
      </h3>

      <div class="btn-group mx-auto player-playback"  role="group">
        <button class="btn btn-link d-inline-flex btn-player-icon" data-action="player#seekBackward">
          <svg width="18" height="18" viewBox="0 0 20 20">
            <use xlink:href="#icon-backward-15" />
          </svg>
        </button>
        <button class="btn btn-link player-play btn-player-icon mx-2 mx-md-1" data-action="player#playPause">
          <svg class="play-icon" data-target="player.play" viewBox="0 0 512 512">
            <use xlink:href="#icon-play-circle" />
          </svg>
          <svg class="pause-icon" data-target="player.pause" viewBox="0 0 512 512">
            <use xlink:href="#icon-pause-circle" />
          </svg>
        </button>
        <button class="btn btn-link btn-player-icon d-inline-flex" data-action="player#seekForward">
          <svg width="18" height="18" viewBox="0 0 20 20">
            <use xlink:href="#icon-forward-15" />
          </svg>
        </button>
      </div>

      <div class="player-seek container-fluid flex-grow-1 d-flex align-items-center">
        <div class="player-time" data-target="player.currentTime">00:00:00</div>
        <div class="podcast-player-seek flex-grow-1 mx-3 d-flex align-items-center">
          <input
            type="range"
            class="custom-range"
            data-target="player.seek"
            data-action="input->player#seeking change->player#seek"
          >
        </div>
        <div class="player-time player-duration" data-target="player.duration"></div>
      </div>

      <div class="d-none d-md-flex align-items-center podcast-player-volumeLevel">
        <button class="btn btn-link" data-action="player#muteUnmute">
          <svg width="18" height="18" viewBox="0 0 576 512" data-target="player.mute">
            <use xlink:href="#icon-volume-up" />
          </svg>
          <svg class="d-none" width="18" height="18" viewBox="0 0 576 512" data-target="player.unmute">
            <use xlink:href="#icon-volume-off" />
          </svg>
        </button>
        <div class="mx-3 d-none d-lg-flex align-items-center">
          <input
            autocomplete="off"
            min="0"
            max="100"
            type="range"
            value="100"
            class="custom-range"
            data-target="player.volumeLevel"
            data-action="input->player#volumeChanging change->player#volumeChange"
          >
        </div>
      </div>

      <button class="btn btn-link player-rate" data-action="player#togglePlaybackRate" data-target="player.rate">1</button>

      <button class="player-close btn btn-link ml-lg-2" data-action="player#close">
        <svg width="20" height="20" viewBox="0 0 12 12">
          <use xlink:href="#icon-times" />
        </svg>
      </button>

      <audio data-target="player.audio" class="d-none"></audio>
    </div>
  </div>
</div>
