<div class="podcast-cover ml-auto">
  <a
    class="cover-image"
    data-target="podcast.cover"
    href="{{ .RelPermalink }}"
    {{ with .Params.image }}
      style="background-image: url('{{ . }}');"
    {{ end }}
  >
    <button
      class="cover-play-button fas d-none"
      data-target="podcast.playButton"
      data-action="podcast#play"
    >
      <svg class="play-icon" width="48%" height="48%" viewBox="0 0 448 512">
        <use xlink:href="#icon-play" />
      </svg>
      <svg class="pause-icon" width="48%" height="48%" viewBox="0 0 448 512">
        <use xlink:href="#icon-pause" />
      </svg>
    </button>
  </a>
  {{ partial "podcast-progress" }}
</div>
