<div class="podcast-cover ml-auto">
  <div class="cover-image-shadow" data-target="podcast.coverShadow" role="presentation"></div>
  <a
    class="cover-image"
    data-target="podcast.cover"
    href="{{ .RelPermalink }}"
    {{ with .Params.image }}
      style="background-image: url('{{ . }}');"
    {{ end }}
  >
    <button
      class="cover-play-button fas d-none"
      data-target="podcast.playButton"
      data-action="podcast#play"
    >
      <span class="fas fa-fw fa-play icon play-icon"></span>
      <span class="fas fa-fw fa-pause icon pause-icon"></span>
    </button>
  </a>
  {{ partial "podcast-progress" }}
</div>
