<footer class="post-footer text-content small mt-5 py-3 border-top">
  <div class="row justify-content-between">
    {{ partial "pagination" . }}
    <div class="col-md-auto order-md-2">
      <ul class="list-inline m-md-0 text-center">
        <li class="list-inline-item"><a href="mailto:{{ .Site.Params.author }}">{{ .Site.Params.author }}</a></li>
        <li class="list-inline-item">{{ partial "post-time" . }}</li>
        <li class="list-inline-item">
          {{ with .Params.categories }}
            {{ range . }}
              <a class="category" href="/categories/{{ . }}">#{{ . }}</a>
            {{ end }}
          {{ end }}
        </li>
      </ul>
    </div>
  </div>
</footer>
