<footer class="post-footer text-content small mt-5 py-3 border-top">
  <div class="row justify-content-between">
    <div class="col-6 col-md-auto order-md-1 flex-shrink-1 text-left">
      {{ if .PrevPage }}
        {{ if eq .PrevPage.Type "posts" }}
          <a href="{{ .PrevPage.Permalink }}">&larr; {{ .PrevPage.Title }}</a>
        {{ end }}
      {{ end }}
    </div>
    <div class="col-6 col-md-auto order-md-3 flex-shrink-1 text-right">
      {{ if .NextPage }}
        {{ if eq .NextPage.Type "posts" }}
          <a href="{{ .NextPage.Permalink }}">{{ .NextPage.Title }} &rarr;</a>
        {{ end }}
      {{ else if in .Params.categories "podcast" }}
        <strong>Сбор тем начинается в среду</strong>
      {{ end }}
    </div>
    <div class="col-md-auto order-md-2">
      <ul class="list-inline m-md-0 text-center">
        <li class="list-inline-item"><a href="mailto:{{ .Site.Params.author }}">{{ .Site.Params.author }}</a></li>
        <li class="list-inline-item">{{ partial "post-time" . }}</li>
        <li class="list-inline-item">
          {{ with .Params.categories }}
            {{ range . }}
              <a class="category" href="/categories/{{ . }}">{{ . }}</a>
            {{ end }}
          {{ end }}
        </li>
      </ul>
    </div>
  </div>
</footer>
