<div data-turbolinks-permanent id="page-search">
  <div
    class="page-search page-search-scroll"
    data-controller="scroll-position"
    data-target="search.scroll search.backdrop"
    data-action="click->search#closeFromBackdrop scroll->scroll-position#onScroll"
  >
    <div class="page-search-content">
      <div class="page-search-form pt-md-4">
        <div class="page-search-input-wrapper">
          <input
            id="page-search-input"
            type="text"
            class="page-search-input form-control form-control-lg"
            placeholder="Поиск..."
            data-action="input->search#search keydown->search#closeOnEscape"
          >
          <button
            class="page-search-close-btn btn btn-sm btn-outline-secondary text-uppercase"
            data-action="search#toggle"
          >Закрыть</button>
        </div>
      </div>
      <div class="page-search-result" data-target="search.result"></div>
    </div>
  </div>
</div>
