<div>
  <div class="text-muted small">Поделиться</div>
  <div class="share">
    <a
      href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Params.twitter }}"
      class="share__link share__link_twitter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg width="16" height="16" viewBox="0 0 512 512" class="share__icon">
        <use xlink:href="#icon-twitter"></use>
      </svg>
    </a>
    <a
      href="https://www.facebook.com/sharer.php?u={{ .Permalink }}"
      class="share__link share__link_facebook"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg width="16" height="16" viewBox="0 0 512 512" class="share__icon">
        <use xlink:href="#icon-facebook"></use>
      </svg>
    </a>
    <a
      href="https://vk.com/share.php?url={{ .Permalink }}&title={{ .Title }}&description={{ .Site.Params.longDescription }}{{ with .Params.image }}&image={{ . }}{{ end }}"
      class="share__link share__link_vk"
      target="_blank"
      rel="noopener noreferrer"
    >
      <svg width="16" height="16" viewBox="0 0 576 512" class="share__icon">
        <use xlink:href="#icon-vk"></use>
      </svg>
    </a>
  </div>
</div>
