<div data-turbolinks-permanent id="page-sidebar">
  <div class="page-sidebar-backdrop" data-action="click->sidebar#toggle"></div>
  <div class="page-sidebar small">
    <div
      class="page-sidebar-scroll"
      data-target="sidebar.scroll"
    >
      <div class="page-sidebar-scroll-content">
        <div class="page-sidebar-title">
          <button class="btn btn-sm btn-link page-sidebar-toggle float-right" data-action="click->sidebar#toggle">&times;</button>
          <div class="py-2 px-3 m-0">Комментарии</div>
        </div>
        <div class="page-sidebar-content py-3 px-3">
          <div class="remark42__last-comments" data-max="25" data-controller="last-comments"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/*<aside class="sidebar">*/}}
  {{/*<section>*/}}
    {{/*<a class="twitter-timeline" href="//twitter.com/{{ .Site.Params.twitter }}"*/}}
       {{/*data-widget-id="{{ .Site.Params.twitterWidgetId }}">@{{ .Site.Params.twitter }}</a>*/}}
  {{/*</section>*/}}
{{/*</aside>*/}}
