<div data-turbolinks-permanent id="page-sidebar">
  <div class="page-sidebar-backdrop" data-action="click->sidebar#toggle"></div>
  <div class="page-sidebar small">
    <div
      class="page-sidebar-scroll"
      data-controller="scroll-position"
      data-action="scroll->scroll-position#onScroll"
    >
      <div class="page-sidebar-scroll-content">
        <div class="page-sidebar-header">
          <button class="close page-sidebar-toggle" data-action="click->sidebar#toggle">&times;</button>
          <h6 class="page-sidebar-title px-3 m-0">Комментарии</h6>
        </div>
        <div class="page-sidebar-content py-4 px-3">
          <div data-max="25" data-controller="last-comments"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/*<aside class="sidebar">*/}}
  {{/*<section>*/}}
    {{/*<a class="twitter-timeline" href="//twitter.com/{{ .Site.Params.twitter }}"*/}}
       {{/*data-widget-id="{{ .Site.Params.twitterWidgetId }}">@{{ .Site.Params.twitter }}</a>*/}}
  {{/*</section>*/}}
{{/*</aside>*/}}
