@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Light-BETA.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "InterUI";
  src: url("../fonts/Inter-UI-Thin-BETA.woff2") format("woff2");
  font-weight: 100;
}
