.last-comments-list {
  line-height: 1.25;
}
.last-comments-list-item {
  & + & {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $border-color;
  }
}
.last-comments-avatar {
  overflow: hidden;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: $gray-200;
  overflow: hidden;
  border-radius: 2px;
}
.last-comments-comment__verification {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-top: -2px;
  vertical-align: middle;
  background-size: cover;
  background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2216%22 height%3D%2216%22%3E  %3Cg fill%3D%22none%22 fill-rule%3D%22evenodd%22%3E    %3Cpath fill%3D%22%234fbbd6%22 d%3D%22M5.823 14.822l-1.28.206a.824.824 0 0 1-.9-.52l-.463-1.212a.824.824 0 0 0-.476-.476l-1.212-.462a.824.824 0 0 1-.52-.9l.206-1.281a.824.824 0 0 0-.175-.65L.185 8.52a.824.824 0 0 1 0-1.04l.818-1.006a.824.824 0 0 0 .175-.65L.972 4.542a.824.824 0 0 1 .52-.9l1.212-.463a.824.824 0 0 0 .476-.476l.462-1.212a.824.824 0 0 1 .9-.52l1.281.206a.824.824 0 0 0 .65-.175L7.48.185a.824.824 0 0 1 1.04 0l1.006.818a.824.824 0 0 0 .65.175l1.281-.206a.824.824 0 0 1 .9.52l.463 1.212c.084.22.257.392.476.476l1.212.462c.365.14.582.515.52.9l-.206 1.281a.824.824 0 0 0 .175.65l.818 1.007a.824.824 0 0 1 0 1.04l-.818 1.006a.824.824 0 0 0-.175.65l.206 1.281a.824.824 0 0 1-.52.9l-1.212.463a.824.824 0 0 0-.476.476l-.462 1.212a.824.824 0 0 1-.9.52l-1.281-.206a.824.824 0 0 0-.65.175l-1.007.818a.824.824 0 0 1-1.04 0l-1.006-.818a.824.824 0 0 0-.65-.175z%22%2F%3E    %3Cpath stroke%3D%22%23FFF%22 stroke-width%3D%221.6%22 stroke-linecap%3D%22round%22 stroke-linejoin%3D%22round%22 d%3D%22M4.755 8.252L7 10.5l4.495-4.495%22%2F%3E  %3C%2Fg%3E%3C%2Fsvg%3E');
}
