@mixin logo-size ($width) {
  $logo-ar: 123/50; // width/height
  width: $width;
  height: $width / $logo-ar;
  margin-top: -($width / 10);
}

@mixin text-uppercase() {
  text-transform: uppercase;
  letter-spacing: .07em;
}

// Override outline button styles
@mixin button-outline-variant($color, $color-hover: color-yiq($color), $active-background: $color, $active-border: $color) {
  color: $color;
  border-color: rgba($color, .33);

  @include hover {
    color: darken($color, 10%); //$color-hover;
    background-color: #fff; //$active-background;
    border-color: $active-border;
    box-shadow: 0 0 0 1px $color;
    transition-duration: 50ms;
  }

  &:focus,
  &.focus {
    box-shadow: 0 0 0 1px $color, 0 0 0 $btn-focus-width rgba($color, .33);
    transition-duration: 50ms;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: darken($color, 10%); //color-yiq($active-background);
    background-color: rgba($active-background, .15);
    //border-color: $active-border;
    transition-duration: 50ms;

    &:focus {
      box-shadow: 0 0 0 1px $color, 0 0 0 $btn-focus-width rgba($color, .33);
    }
  }
}
