.navbar {
  // px0
  > .container-fluid,
  > .container {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
  }
}
.navbar-nav {
  font-weight: bold;
}
.navbar-btn-search {
  cursor: text !important;
}
@include media-breakpoint-up('lg') {
  .navbar-nav {
    font-size: $small-font-size;
    @include text-uppercase;
    .nav-item {
      padding: 0;
      transition: none !important;
    }
    .nav-link {
      position: relative;
      padding: ($spacer * 2) ($spacer / 2) !important;
      //transition: all 150ms;
      &:after {
        content: '';
        position: absolute;
        left: ($spacer / 2);
        right: ($spacer / 2);
        top: 0;
        //bottom: 0;
        height: 0;
        background-color: $primary;
        transition: all 150ms;
      }
      &:hover:after,
      &:active:after {
        height: 5px;
      }
    }
  }
  .navbar-btn-search {
    background-color: $white;
    font-weight: $font-weight-normal;
    padding-left: ($spacer / 1.5);
    &:not(:active, :focus, :hover) {
      color: $text-muted;
      border-color: transparent;
    }
  }
}
// Increase padding for big screens
@media (min-width: (breakpoint-min('xl') + 100px)) {
  .navbar-nav {
    .nav-link {
      padding-left: ($spacer / 1.5) !important;
      padding-right: ($spacer / 1.5) !important;
      &:after {
        left: ($spacer / 1.5);
        right: ($spacer / 1.5);
      }
    }
  }
}
@mixin logo-size ($width) {
  $logo-ar: 123/50; // width/height
  width: $width;
  height: $width / $logo-ar;
  margin-top: -($width / 10);
}
.navbar-brand {
  display: inline-block;
  margin: 0;
  @include logo-size(110px);
  background: transparent url('../images/logo.svg') no-repeat center;
  background-size: contain;
  transition: transform 75ms;
  &:active {
    transform: scale(.98);
  }
}
// navbar in left sidebar
@include media-breakpoint-down('md') {
  .navbar-brand {
    @include logo-size(96px);
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: $zindex-fixed;
    height: $navbar-collapsed-height;
    background-color: rgba($gray-200, .95) !important;
    > .container-fluid {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .btn {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      height: $navbar-collapsed-height;
      min-width: $navbar-collapsed-height;
      line-height: $navbar-collapsed-height;
      padding-top: 0;
      padding-bottom: 0;
      &:hover {
        //background-color: rgba($black, 1 - lightness($gray-200) / 100%);
        background-color: transparent;
      }
      &:active {
        background-color: transparent;
      }
    }
    .icon-btn {
      font-size: 1.3rem;
    }
  }
  .navbar-toolbar {
    display: flex;
  }
  .navbar-toggler {
    line-height: 1;
    position: relative;
    z-index: $zindex-fixed + 1;
    padding: 0 1rem 0 $navbar-collapsed-padding-x !important;
    margin-right: 2rem;
  }
  .navbar-toggler-icon {}
  .navbar-collapse {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: block !important;
    position: fixed;
    z-index: $zindex-fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    visibility: hidden;
    transition: 200ms;
    transition-property: background-color, visibility;
  }
  .navbar-nav {
    position: absolute;
    font-size: $font-size-lg;
    top: 0;
    left: 0;
    width: 15rem;
    min-height: 100%;
    max-width: 100%;
    background-color: $white;
    box-shadow: 0 0 .25rem rgba($black, .2);
    padding: $navbar-collapsed-height 0 2rem 0;
    transform: translate3d(-15rem, 0, 0);
    transition: 200ms ease-out;
    transition-timing-function: cubic-bezier(.61, .67, .02, .99);
    transition-property: transform;
    .nav-item {
      opacity: 0;
      transform: translate3d(-3rem, 0, 0);
      transition: 150ms ease-out;
      transition-property: transform, opacity;
    }
    .nav-link {
      padding-left: $navbar-collapsed-padding-x;
      padding-right: 1rem;
      position: relative;
      transition: 150ms;
      transition-property: background-color, color;
      &:after {
        content: '';
        position: absolute;
        top: ($spacer / 2);
        bottom: ($spacer / 2);
        left: 0;
        width: 0;
        background-color: $primary;
        transition: all 150ms;
      }
      &:hover:after,
      &:active:after {
        width: 5px;
      }
      &:hover {
        background-color: rgba($black, 1 - lightness($gray-100) / 100%);
      }
      &:active {
        background-color: rgba($black, 1 - lightness($gray-200) / 100%);
      }
    }
  }
  .navbar-open {
    .navbar-collapse {
      opacity: 1;
      visibility: visible;
      background-color: rgba($modal-backdrop-bg, $modal-backdrop-opacity);
    }
    .navbar-nav {
      transform: translate3d(0, 0, 0);
      .nav-item {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
