$podcast-player-seek-height: 2px;
$podcast-player-seek-thumb-height: 16px;
$podcast-player-seek-thumb-width: 4px;
$podcast-player-cover-size: 2.2rem;
$podcast-player-cover-margin: .5rem;
.player-placeholder {
  height: 3.4rem;
}
.podcast-player-container {
  position: fixed;
  z-index: $zindex-fixed;
  width: 100%;
  bottom: 0;
  backdrop-filter: $backdrop-filter;
  background-color: rgba($gray-200, .95);
  background-clip: padding-box;
  color: inherit;
  border-top: 1px solid $border-color;
  //box-shadow: 0 -1px 3px rgba($black, .1);
  transition: 150ms;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: 1500ms;
    opacity: 0;
    background-size: $progress-height $progress-height;
    @include gradient-striped(rgba(mix($black, $primary), .10));
    animation: progress-bar-stripes $progress-bar-animation-timing;
    .player-loading & {
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}
.podcast-player {
  .btn {
    color: inherit;
    padding: .25rem .25rem;
    font-size: 1.2em;
    transition: all 50ms;
    transform: scale(1);
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(.9);
    }
  }
  .player-play {
    transform: scale(1.4);
    &:hover {
      transform: scale(1.5);
    }
    &:active {
      transform: scale(1.3);
    }
  }
  .fa-pause {
    transform: scale(.85);
  }
}
.btn-player-icon {
  display: inline-flex;
  svg {
    display: block;
    fill: currentColor !important;
    width: 1.1em;
    height: auto;
    path {
      fill: currentColor !important;
    }
  }
}
.podcast-player-seek {
  position: relative;
  input[type='range'] {
    position: absolute;
    cursor: pointer;
  }
}
.podcast-player-seek-thumb {
  position: relative;
  background-color: currentColor;
  height: $podcast-player-seek-thumb-height;
  width: $podcast-player-seek-thumb-width;
  margin: -($podcast-player-seek-thumb-height - $podcast-player-seek-height)/2 -2px;
}
.player-time {
  font-family: $font-family-monospace;
  font-size: $small-font-size;
}
.player-number {
  font-weight: $font-weight-bold;
  font-size: 1.2em;
  white-space: nowrap;
}
.podcast-player-cover {
  width: $podcast-player-cover-size;
  min-width: $podcast-player-cover-size;
  margin: $podcast-player-cover-margin 0;
}
@include media-breakpoint-down('sm') {
  .player-number {
    font-size: 1em;
  }
  .podcast-player {
    padding-top: 2rem;
    padding-bottom: .3rem;
  }
  .player-playback {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 2rem;
  }
  .player-close {
    margin-left: 2.5rem; // try to center controls
  }
  .player-time {
    font-size: $smaller-font-size;
  }
  .podcast-player-cover {
    margin: 0;
  }
}
