$podcast-player-seek-height: 2px;
$podcast-player-seek-thumb-height: 16px;
$podcast-player-seek-thumb-width: 4px;
$podcast-player-cover-size: 2.2rem;
$podcast-player-cover-margin: 0.5rem;
.player-placeholder {
  height: 3.4rem;
}
.podcast-player-container {
  position: fixed;
  z-index: $zindex-fixed;
  width: 100%;
  bottom: 0;
  backdrop-filter: $backdrop-filter;
  background-color: rgba($gray-200, 0.95);
  background-clip: padding-box;
  color: inherit;
  border-top: 1px solid $border-color;
  //box-shadow: 0 -1px 3px rgba($black, .1);
  transition: 150ms;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: 1500ms;
    opacity: 0;
    background-size: $progress-height $progress-height;
    @include gradient-striped(rgba(mix($black, $primary), 0.1));
    animation: progress-bar-stripes $progress-bar-animation-timing;
    .player-loading & {
      opacity: 1;
      transition-delay: 200ms;
    }
  }
}
.podcast-player {
  height: 52px;
  .btn {
    display: flex;
    justify-content: center;
    color: inherit;
    padding: 0.5rem;
    font-size: 1.2em;
    transition: all 50ms;
    transform: scale(1);
    &:hover {
      transform: scale(1.05);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  .player-play {
    transform: scale(1.4);
    &:hover {
      transform: scale(1.5);
    }
    &:active {
      transform: scale(1.3);
    }
    .play-icon,
    .pause-icon {
      width: 1.2em;
    }
  }
}
.btn-player-icon {
  display: inline-flex;
  padding: 0.25em;
  margin: auto;
  svg {
    display: block;
    width: 1.1em;
    height: auto;
  }
}
.player-playback {
  padding: 0 0.2rem 0 1rem;
}
.podcast-player-seek {
  position: relative;
  input[type='range'] {
    position: absolute;
    cursor: pointer;
  }
}
.podcast-player-seek-thumb {
  position: relative;
  background-color: currentColor;
  height: $podcast-player-seek-thumb-height;
  width: $podcast-player-seek-thumb-width;
  margin: -($podcast-player-seek-thumb-height - $podcast-player-seek-height)/2 -2px;
}
.player-time {
  font-family: $font-family-monospace;
  font-size: $small-font-size;
}
.player-number {
  font-weight: $font-weight-bold;
  font-size: 1.2em;
  white-space: nowrap;
}
.podcast-player-cover {
  width: $podcast-player-cover-size;
  min-width: $podcast-player-cover-size;
}
.player-rate {
  min-width: 60px;
  text-align: center;
  font-weight: 600;
  letter-spacing: -0.05em;
  &:after {
    content: '×';
  }
}
@include media-breakpoint-down('sm') {
  .podcast-player {
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      'seek  seek   seek     seek  seek'
      'cover number playback speed close';
    padding-bottom: 0.3rem;
    height: auto;
    .btn {
      padding: 0.25rem;
    }
  }
  .player-seek {
    grid-area: seek;
    height: 2rem;
    padding: 0;
    width: 100% !important;
  }
  .podcast-player-cover {
    grid-area: cover;
    margin: 0;
  }
  .player-number {
    grid-area: number;
    font-size: 1em;
  }
  .player-playback {
    grid-area: playback;
    padding: 0;
  }
  .player-rate {
    grid-area: speed;
  }
  .player-close {
    grid-area: close;
  }
  .player-time {
    font-size: $smaller-font-size;
  }
}
