.remark42__last-comments {
  #remark42 .list-comments {
    font-family: inherit !important;
  }
  #remark42 .comment__info {
    color: inherit !important;
    font-size: inherit !important;
  }
  #remark42 .comment_view_preview {
    font-size: inherit !important;
  }
}
