@import "boot";
@import "likely";
@mixin dark {
  background-color: #000;
  filter: invert(1) hue-rotate(180deg);
  img, .cover-image, .img {
    filter: invert(1) hue-rotate(180deg);
  }
}
body {
  margin-right: 60px;
  @media (prefers-color-scheme: dark) {
    @include dark;
  }
  &[dark] {
    @include dark;
  }
}
html.js {
  .no-js {
    visibility: hidden;
  }
}
@mixin link-transition {
  transition: all 350ms ease;
  transition-delay: 25ms;
}
@mixin link-hover-transition {
  transition-duration: 20ms;
  transition-delay: 0ms;
}
@mixin link-hover {
  color: #fff;
  background-color: $link-hover-color;
  //border-bottom-color: transparent;
  @include link-hover-transition;
}
@mixin link($selector: '&') {
  #{$selector} {
    @include link-transition;
    //border-bottom: .25em solid rgba($link-hover-color, .15);
  }
  &:hover {
    #{$selector} {
      @include link-hover;
    }
    &:active {
      #{$selector} {
        color: #fff;
        background-color: darken($link-hover-color, 10%);
      }
    }
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p, .jumbotron, .text-content {
  a:not(.btn):not(.nav-link) {
    @include link;
  }
}
.text-light {
  color: rgba(#fff, .7);
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
  }
}
.text-content {
  a:visited {
    color: #430093;
  }
}
.container-fluid {
  max-width: 1200px;
}
.navbar {
  font-weight: bold;
  @include media-breakpoint-up('lg') {
    .nav-item {
      padding: 0;
    }
    .nav-link {
      position: relative;
      padding: $spacer ($spacer / 2) !important;
      transition: all 150ms;
      &:after {
        content: '';
        position: absolute;
        left: ($spacer / 2);
        right: ($spacer / 2);
        bottom: 0;
        height: 0;
        background-color: $primary;
        transition: all 150ms;
      }
      &:hover:after {
        height: 3px;
      }
    }
  }
}
.navbar-brand {
  display: inline-block;
  margin: -30px 0 -34px -15px;
  width: 120px;
  height: 56px;
  background: transparent url('../images/rt-header-logo.svg') no-repeat center;
  background-size: contain;
}
input[type="search"] {
  border-radius: 500px;
}
.blog-index {
  article + article {
  }
}
$jumbotron-arc-height: 5%;
$jumbotron-arc-width: 120%;
.jumbotron {
  position: relative;
  margin-bottom: ($jumbotron-arc-height / 2);
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: .3rem;
      i {
        margin-right: .5em;
      }
    }
  }
}
.jumbotron-arc {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 0;
  bottom: 0;
  padding-bottom: $jumbotron-arc-height;
  margin-bottom: -($jumbotron-arc-height / 2);
  &:after {
    content: '';
    position: absolute;
    width: $jumbotron-arc-width;
    height: 100%;
    background-color: $jumbotron-bg;
    border-radius: 50%;
    margin: 0 (-($jumbotron-arc-width - 100) / 2);
  }
}
.page__footer {
}
.number-title {
  margin-top: -.4rem;
  > a {
    transition: none !important;
    border-bottom: none !important;
    @include link('> span');
    &:hover {
      background-color: transparent !important;
      border-bottom: 0 !important;
    }
  }
}
.podcast-title-prefix {
  display: inline;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 60%;
}
.podcast-title-number {
  display: inline;
}
.posts-list {
  .post-podcast-content {
    > * {
      display: none;
    }
    ul:first-of-type {
      display: block !important;
      margin: 0;
    }
  }
}
.post-podcast-content {
  ul:first-of-type {
    padding: 0;
    list-style: none none;
    li {
      display: flex;
      align-items: baseline;
      & + li {
        margin-top: $line-height-base * .5em;
      }
      > em {
        display: block;
        white-space: nowrap;
        width: 18%;
        color: $text-muted;
        font-style: normal;
        font-family: $font-family-monospace;
        font-size: $small-font-size;
        flex-shrink: 0;
        min-width: 5.5em;
        .fas {
          display: none;
        }
        .has-audio &[data-action] {
          cursor: pointer;
          transition: transform 200ms;
          transform: translateX(0);
          .fas {
            display: inline-block;
            opacity: 0;
            margin-left: -(1.25em + .3em);
            margin-right: .3em;
            pointer-events: none;
            transform: translateX(.8em);
            transition-duration: 150ms;
            transition-property: transform, opacity;
          }
          &:hover {
            color: $link-hover-color;
            transform: translateX(.1em);
            .fas {
              opacity: .5;
              pointer-events: none;
              transform: translateX(0);
            }
          }
        }
      }
      > div {
        flex-grow: 1;
        margin-left: 15px;
      }
    }
  }
}
.cover-image-wrapper {
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba($black, .33);
}
.cover-image {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-image: url('../images/default-cover.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 150ms;
  cursor: pointer;
  &:hover {
    .cover-play-button {
      opacity: 1;
      transform: scale(1);
    }
  }
}
.cover-play-button {
  $play-button-size: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $play-button-size;
  height: $play-button-size;
  top: (100% - $play-button-size) / 2;
  left: (100% - $play-button-size) / 2;
  position: absolute;
  background-color: rgba($white, .85);
  border: none;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  color: $body-color;
  opacity: 0;
  transform: scale(.8);
  transition: 100ms;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba($black, .33);
  &:hover {
    transform: scale(1.05);
    color: $link-hover-color;
    box-shadow: 0 5px 20px rgba($black, .67);
    background-color: rgba($white, .95);
  }
  &:active {
    transform: scale(.95);
    box-shadow: 0 3px 10px rgba($black, .67);
  }
  .icon {
    width: 65%;
    fill: currentColor;
    cursor: pointer;
  }
  .play-icon {
    margin-left: 10%;
  }
  .pause-icon {
    display: none;
  }
}
.posts-list-item {
  & + & {
    border-top: 1px solid $border-color;
  }
}
//.post-prep-title {
//}
.podcast-player-container {
  //position: sticky;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding-bottom: 2rem;
  > .container-fluid {
    max-width: 800px;
  }
}
.podcast-player {
  background-color: $white;
  color: $black;
  border: 2px solid $black;
  .btn {
    font-size: 1.2em;
  }
}
$podcast-player-seek-height: 2px;
$podcast-player-seek-thumb-height: 16px;
$podcast-player-seek-thumb-width: 4px;
.podcast-player-seek {
  background-color: $black;
  position: relative;
  border: solid transparent;
  border-width: 10px 0;
  background-clip: padding-box;
  cursor: pointer;
  &:hover {
    color: $link-hover-color;
  }
}
.podcast-player-seek-thumb {
  position: relative;
  background-color: currentColor;
  height: $podcast-player-seek-thumb-height;
  width: $podcast-player-seek-thumb-width;
  margin: -($podcast-player-seek-thumb-height - $podcast-player-seek-height)/2 -2px;
}
.player-time {
  font-family: $font-family-monospace;
  font-weight: $font-weight-bold;
  font-size: $small-font-size;
}
.player-number {
  font-weight: $font-weight-bold;
  font-size: 1.2em;
}
.podcast-player-cover {
  width: 2.5rem;
  margin: .3rem;
}
