@import "boot";
@import "likely";
@import "player";
@mixin dark {
  background-color: #000;
  filter: invert(1) hue-rotate(180deg);
  img, .cover-image, .img {
    filter: invert(1) hue-rotate(180deg);
  }
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  //margin-right: 60px;
  @media (prefers-color-scheme: dark) {
    @include dark;
  }
  &[dark] {
    @include dark;
  }
}
html.js {
  .no-js {
    visibility: hidden;
  }
}
@mixin link($selector: '&') {
  #{$selector} {
    transition: all 350ms ease;
    transition-delay: 25ms;
    border-bottom: 2px solid rgba($link-hover-color, .2);
  }
  &:hover {
    #{$selector} {
      color: darken($link-hover-color, 10%);
      background-color: rgba($link-hover-color, .1);
      transition-duration: 50ms;
      transition-delay: 0ms;
      border-bottom-color: rgba($link-hover-color, .1);
    }
    &:active {
      #{$selector} {
        color: #fff;
        background-color: darken($link-hover-color, 10%);
      }
    }
  }
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p, .jumbotron, .text-content {
  a:not(.btn):not(.nav-link) {
    @include link;
  }
}
.text-content {
  a:visited {
    //color: #430093;
  }
  pre {
    margin-left: calc((100vw - 100%) / -4);
    margin-right: calc((100vw - 100%) / -4);
    > code {
      display: block;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.text-light {
  color: rgba(#fff, .7);
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
  }
}
.container-fluid {
  max-width: 1280px;
  width: 90%;
}
.navbar {}
.navbar-nav {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 85%;
  @include media-breakpoint-up('lg') {
    .nav-item {
      padding: 0;
    }
    .nav-link {
      position: relative;
      padding: $spacer * 2 ($spacer / 2) !important;
      transition: all 150ms;
      &:after {
        content: '';
        position: absolute;
        left: ($spacer / 2);
        right: ($spacer / 2);
        top: 0;
        //bottom: 0;
        height: 0;
        background-color: $primary;
        transition: all 150ms;
      }
      &:hover:after {
        height: 5px;
      }
    }
  }
}
.navbar-brand {
  display: inline-block;
  margin: -30px 0 -34px -15px;
  width: 130px;
  height: 64px;
  background: transparent url('../images/rt-header-logo.svg') no-repeat center;
  background-size: contain;
}
input[type="search"] {
  border-radius: 500px;
}
$jumbotron-arc-height: 5%;
$jumbotron-arc-width: 120%;
.jumbotron {
  position: relative;
  margin-bottom: ($jumbotron-arc-height / 2);
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: .3rem;
      i {
        margin-right: .5em;
      }
    }
  }
}
.jumbotron-arc {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 0;
  bottom: 0;
  padding-bottom: $jumbotron-arc-height;
  margin-bottom: -($jumbotron-arc-height / 2);
  &:after {
    content: '';
    position: absolute;
    width: $jumbotron-arc-width;
    height: 100%;
    background-color: $jumbotron-bg;
    border-radius: 50%;
    margin: 0 (-($jumbotron-arc-width - 100) / 2);
  }
}
.page-footer {
  background-color: $gray-100;
}
.page-footer-links {
  padding: 0;
  > li + li {
    margin-top: .5em;
  }
}
.number-title {
  font-size: $h2-font-size;
  margin-top: -.4rem;
  > a {
    transition: none !important;
    border-bottom: none !important;
    @include link('> span');
    > span {
      border-bottom: none;
    }
    &:hover {
      background-color: transparent !important;
      border-bottom: 0 !important;
    }
  }
}
.podcast-title-prefix {
  display: inline;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 60%;
}
.podcast-title-number {
  display: inline;
  font-weight: 900;
}
.post-time {
  font-size: $small-font-size;
}
// Show only first ul in podcast content in list
.posts-list {
  .post-podcast-content {
    > * {
      display: none;
    }
    ul:first-of-type {
      display: block !important;
      margin: 0;
    }
  }
}
.post-podcast-content {
  ul:first-of-type {
    padding: 0;
    list-style: none none;
    li {
      display: flex;
      align-items: baseline;
      & + li {
        margin-top: $line-height-base * .33em;
      }
      > em {
        display: block;
        white-space: nowrap;
        width: calc((100% + 30px) / 5 - 15px);
        color: $text-muted;
        font-style: normal;
        font-family: $font-family-monospace;
        font-size: $small-font-size;
        font-weight: $font-weight-bold;
        flex-shrink: 0;
        min-width: 5.5em;
        &:empty { // no time labels
          &:after {
            content: '--:--:--';
            opacity: .33;
          }
        }
        .fas {
          display: none;
        }
        .has-audio &[data-action] {
          cursor: pointer;
          transition: transform 50ms;
          transform: translateX(0) scale(1.0001);
          .fas {
            display: inline-block;
            opacity: 0;
            margin-left: -(1.25em + .3em);
            margin-right: .3em;
            pointer-events: none;
            transform: translateX(.8em);
            transition-duration: 150ms;
            transition-property: transform, opacity;
          }
          &:hover {
            color: $link-hover-color;
            transform: translateX(.1em);
            .fas {
              opacity: .5;
              pointer-events: none;
              transform: translateX(0);
            }
          }
        }
      }
      > div {
        flex-grow: 1;
        margin-left: $grid-gutter-width / 2;
      }
    }
  }
}
.podcast-cover {
  overflow: hidden;
  border-radius: 4px;
  .post-podcast & {
    transition: 150ms;
    transform: scale(.97) translate3d(0, 0, 0);
    box-shadow: 0 1px 3px rgba($black, .33), 0 20px 15px -10px rgba($black, .05);
  }
  .post-podcast.playing & {
    transform: scale(1.04) translate3d(0, -1%, 0);
    box-shadow: 0 1px 3px rgba($black, .2), 0 30px 30px -20px rgba($black, .33);
  }
}
.cover-image {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-image: url('../images/default-cover.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 150ms;
  cursor: pointer;
}
.cover-play-button {
  $play-button-size: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $play-button-size;
  height: $play-button-size;
  top: (100% - $play-button-size) / 2;
  left: (100% - $play-button-size) / 2;
  position: absolute;
  background-color: rgba($white, .65);
  backdrop-filter: blur(5px);
  border: none;
  border-radius: 50%;
  color: $body-color;
  opacity: 1;
  transform: scale(1.0001);
  transition: all 150ms;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba($black, .33);
  &:hover, &:focus {
    transform: scale(1.03) translate3d(0, -1px, 0);
    color: $link-hover-color;
    //box-shadow: 0 5px 10px rgba($black, .5);
    background-color: rgba($white, .75);
    transition-duration: 30ms;
    outline: none;
  }
  &:active {
    transform: scale(.97);
    box-shadow: 0 1px 3px rgba($black, .33);
  }
  .icon {
    width: 65%;
    fill: currentColor;
    cursor: pointer;
  }
  .play-icon {
    margin-left: 10%;
  }
  .pause-icon {
    display: none;
  }
  .playing & {
    .play-icon {
      display: none;
    }
    .pause-icon {
      display: block;
    }
  }
}
.posts-list-item {
  & + & {
    border-top: 1px solid $border-color;
  }
}
//.post-prep-title {
//}
.post-footer {}
.post-comments {
  background-color: $gray-100;
}
.page-cover-image {
  display: block;
  width: 100%;
  padding-bottom: (100% / 3);
  background-color: $gray-200;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.page-with-cover-image {
  .page-share {
    margin-top: map_get($spacers, 4);
  }
  .text-content {
    @include media-breakpoint-up('md') {
      background-color: $white;
      margin: -8% -4% 0;
      padding: 2em 4%;
    }
  }
}
.about-authors {
  margin: 1rem 0;
  text-align: center;
  img {
    display: block;
    margin: 0 auto .5rem;
    border-radius: 50%;
    width: 100%;
    max-width: 120px;
  }
}
.about-authors-item {
  padding: 1rem 0;
}
.blog-archives {
  h3:not(.number-title) {
    font-size: 2em;
  }
  html.cssgrid & {
    .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
      grid-auto-flow: dense;
      > div {
        max-width: none;
        &.span-2 {
          grid-column: auto / span 2;
        }
      }
    }
  }
}
.blog-archives-year {}
.blog-archives-year-anchor {
  display: block;
  color: transparent;
  height: 0;
  overflow: hidden;
}
.blog-archives-year-title {
  position: sticky;
  z-index: 5;
  top: 2rem;
  font-size: 5em;
  padding-top: 3rem;
  pointer-events: none;
  font-weight: 100;
  //text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, -2px 2px 0 #fff, 2px -2px 0 #fff;
}
.blog-archives-year-list {
  padding-top: 2rem;
}
.nav-blog-archives {
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
  overflow-y: hidden;
  background-color: rgba($white, .87);
  backdrop-filter: blur(3px);
  box-shadow: 0 2px 2px rgba($black, .12);
  .nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
    //margin-top: -3px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .nav-link {
    position: relative;
    z-index: 10;
    padding: .5rem 0 .8rem;
    border-bottom: 2px solid transparent;
    + .nav-link {
      margin-left: 1rem;
    }
    &:hover {
      border-bottom-color: $link-hover-color;
    }
  }
}
.nav-blog-archives-year {
  font-weight: $font-weight-bold;
  font-size: $h2-font-size;
}
.nav-blog-archives-range {
  opacity: 0;
  font-size: 65%;
}
.blog-archives-post {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
    height: 1px;
    background-color: $border-color;
  }
}
