{{ define "main" }}

  {{ partial "jumbotron" . }}

  <div class="container-fluid py-3 py-md-5">
    <div class="posts-list">
      {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}

      {{ range $index, $_ := $paginator.Pages }}
        {{ .Render "li" }}

        {{ if (eq $paginator.PageNumber 1) }}
          {{ if (eq $index 1) }}
            {{ partial "banner-broadcast" . }}
          {{ end }}
          {{ if (eq $index 5) }}
            {{ partial "banner-links" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="pagination">
          {{ if $paginator.HasNext }}
            <a href="{{ .URL }}page/{{ $paginator.Next.PageNumber }}/">&larr; Раньше</a>
          {{ end }}
          <a href="/archives/">Архивы подкаста</a>
          {{ if $paginator.HasPrev }}
            <a href="{{ .URL }}page/{{ $paginator.Prev.PageNumber }}/">Позже &rarr;</a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>

{{ end }}
