{{ if in .Params.categories "podcast" }}
  <div class="blog-archives-post col-6 col-md-3 col-lg-2 py-3">
    <h3 class="number-title"><a href="{{ .Permalink }}">{{ partial "number-title" . }}</a></h3>
    <div class="post-time small">
      {{ partial "post-time" . }}
      {{ with .Params.categories }}
        {{ range . }}
          <a class="category" href="/categories/{{ . }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ else if in .Params.categories "prep" }}
  <div class="blog-archives-post col-6 col-md-3 col-lg-2 py-3">
    <h3 class="number-title"><a class="text-muted" href="{{ .Permalink }}">{{ partial "number-title" . }}</a></h3>
    <div class="post-time small">
      {{ partial "post-time" . }}
      {{ with .Params.categories }}
        {{ range . }}
          <a class="category" href="/categories/{{ . }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ else }}
  <div class="blog-archives-post col-md-6 col-lg-4 span-2 py-3">
    <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <div class="post-time small">
      {{ partial "post-time" . }}
      {{ with .Params.categories }}
        {{ range . }}
          <a class="category" href="/categories/{{ . }}">{{ . }}</a>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
