<!doctype html>
<html class="no-js" lang="ru">
<head>
  {{ partial "head" . }}
  {{ block "head" . }}{{ end }}
</head>
<body
  class="d-flex flex-column {{ delimit (apply .Params.categories "printf" "category-%s" ".") " " }}"
  data-controller="page sidebar search"
  data-action="podcast-play->page#playPodcast player-state->page#updatePodcasts"
>

{{ partial "navbar.html" . }}

<div class="page-main flex-grow-1">
  {{ block "main" . }}{{ end }}
</div>

<footer class="page-footer py-5 border-top">
  {{ partial "footer" . }}
  {{ partial "player" . }}
</footer>

{{ partial "sidebar" . }}
{{ partial "search" . }}

{{ partial "js_foot" . }}

</body>
</html>
