<article class="posts-list-item py-5">
  {{ if in .Params.categories "podcast" }}

    <div
      class="row post-podcast"
      data-controller="podcast"
      data-target="page.podcast"
      data-action="player-state->podcast#fetchState"
      data-podcast-url="{{ .Permalink }}"
    >
      <div class="col-md-2 text-right d-flex flex-column justify-content-between">
        <div>
          <h2 class="number-title"><a href="{{ .Permalink }}">{{ partial "number-title" . }}</a></h2>
          {{ partial "comments-counter" .Permalink }}
          <div class="post-time">{{ partial "post-time" . }}</div>
        </div>
        {{ partial "share" }}
      </div>
      <div class="col-md-3 order-md-3">{{ partial "podcast-cover" . }}</div>
      <div class="post-podcast-content text-content col-md-5 no-js" data-controller="podcast-content">
        {{ .Content }}
      </div>
    </div>

  {{ else if in .Params.categories "prep" }}

    <div class="row align-items-baseline">
      <div class="col-md-2 text-right">
        <h2 class="number-title">
          <a class="text-muted" href="{{ .Permalink }}">{{ partial "number-title" . }}</a>
        </h2>
        <p class="post-time m-0 text-muted">{{ partial "post-time" . }}</p>
      </div>
      <div class="col-md">
        {{ partial "comments-counter" .Permalink }}
      </div>
    </div>

  {{ else }}

    <div>
      <div class="row align-items-baseline">
        <div class="col-md-8 offset-md-2">
          <h2 class="display-4 mb-md-4"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </div>
        <div class="w-100"></div>
        <div class="col-md-2 text-md-right">
          <div class="post-time">{{ partial "post-time" . }}</div>
          {{ partial "comments-counter" .Permalink }}
        </div>
        <div class="text-content col-md-8" data-controller="highlight">
          {{ .Content }}
        </div>
      </div>
    </div>

  {{ end }}
</article>
