{{ define "main" }}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="blog-index">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}

        {{ range $paginator.Pages }}
        {{ .Render "li" }}
        {{ end }}

        {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
        <div class="pagination">
          {{ if $paginator.HasNext }}
          <a class="prev" href="{{ .URL }}page/{{ $paginator.Next.PageNumber }}/">&larr; Раньше</a>
          {{ end }}

          <a href="/archives/">Архивы подкаста</a>

          {{ if $paginator.HasPrev }}
          <a class="next" href="{{ .URL }}page/{{ $paginator.Prev.PageNumber }}/">Позже &rarr;</a>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    <div class="col-md-4">
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</div>

{{ end }}
