{{ define "main" }}

  {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
  {{ .Scratch.Set "paginator" $paginator }}

  <div class="pt-3 pt-md-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          {{ if and (eq .Page.Type "categories") (eq .Page.Kind "taxonomy") }}
            <h6 class="text-uppercase small font-weight-bold">Категория</h6>
          {{ end }}
          <h1 class="display-4- pb-3 mb-0 border-bottom">{{ .Title }}</h1>
        </div>
      </div>
    </div>
    <div class="posts-list">
      {{ if (ne $paginator.PageNumber 1) }}
        <div class="container-fluid py-3 border-bottom">
          {{ partial "paginator" . }}
        </div>
      {{ end }}

      {{ range $index, $_ := $paginator.Pages }}
        {{ .Render "li" }}
      {{ end }}

      <div class="container-fluid mt-5 py-3 border-top">
        {{ partial "paginator" . }}
      </div>
    </div>
  </div>

{{ end }}
