{{ define "head" }}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
  <meta name="twitter:url" content="{{ .Site.Params.url }}{{ .RelPermalink }}">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Site.Params.twitterCardDescription }}">
  {{ with .Params.image }}<meta name="twitter:image" content="{{ . }}">{{ end }}
{{ end }}

{{ define "main" }}
  <div class="pt-4 pt-lg-6">
    {{ if in .Params.categories "podcast" }}
      <div class="container-fluid">
        <div
          class="row post-podcast"
          data-controller="podcast podcast-progress"
          data-target="page.playerStateReceiver"
          data-action="player-state->podcast#fetchPlayingState"
          data-podcast-url="{{ .RelPermalink }}"
        >
          <div class="col-5 col-md-2 d-flex flex-column justify-content-between">
            <div>
              <h1 class="number-title">{{ partial "number-title" . }}</h1>
              <div class="post-time">{{ partial "post-time" . }}</div>
            </div>
            {{ partial "share" }}
          </div>
          <div class="col col-md-4 order-md-3">{{ partial "podcast-cover" . }}</div>
          <div class="post-podcast-content text-content col-md-6 no-js" data-controller="podcast-content">
            {{ .Content }}
          </div>
        </div>
        {{ partial "post-footer" . }}
      </div>
      {{ partial "comments-block" }}
    {{ else if in .Params.categories "prep" }}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <h1 class="number-title">{{ partial "number-title" . }}</h1>
            <div class="post-time">{{ partial "post-time" . }}</div>
          </div>
          <div class="col-md">{{ partial "comments" }}</div>
          <div class="col-md-2">{{ partial "share" }}</div>
        </div>
        {{ partial "post-footer" . }}
      </div>
    {{ else }}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h1 class="display-4 mb-md-4">{{ .Title }}</h1>
          </div>
          <div class="w-100"></div>
          <div class="col-md-2">
            <div class="post-time">{{ partial "post-time" . }}</div>
            {{ partial "share" }}
          </div>
          <div class="text-content col-md-8" data-controller="highlight">
            {{ .Content }}
          </div>
        </div>
        {{ partial "post-footer" . }}
      </div>
      {{ partial "comments-block" }}
    {{ end }}
  </div>
{{ end }}
