<div class="ads-pricing">
  <h2 class="mt-5 mb-3">Прайс-лист</h2>
  <div class="small mb-4">
    <div class="py-4 border-bottom">
      <div class="row">
        <div class="col-md-6">
          <h4 class="m-0">Анонс события одной строкой, включая ссылку в чате</h4>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <div class="d-inline-block mr-2">
            1 выпуск
            <div class="h4 m-0">$250</div>
          </div>
          <div class="d-inline-block mr-2">
            3 выпуска
            <div class="h4 m-0">$500</div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4 border-bottom">
      <div class="row">
        <div class="col-md-6">
          <h4 class="m-0">Обсуждение события, новости, товара, услуги</h4>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <div class="d-inline-block mr-2">
            1 выпуск
            <div class="h4 m-0">$400</div>
          </div>
          <div class="d-inline-block mr-2">
            3 выпуска
            <div class="h4 m-0">$800</div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-4 border-bottom">
      <div class="row">
        <div class="col-md-6">
          <h4 class="m-0">Блок спонсора, включающий:</h4>
          <ul class="m-0 mt-2 pl-3">
            <li class="mt-1">обсуждение события, новости, товара, услуги и/или ролик рекламодателя;</li>
            <li class="mt-1">ссылку на сайте — спонсор выпуска;</li>
            <li class="mt-1">ссылку в чате.</li>
          </ul>
        </div>
        <div class="col-md-6 mt-2 mt-md-0">
          <div class="d-inline-block mr-2">
            1 выпуск
            <div class="h4 m-0">$600</div>
          </div>
          <div class="d-inline-block mr-2">
            4 выпуска
            <div class="h4 m-0">$1500</div>
          </div>
          <div class="d-inline-block mr-2">
            8 выпусков
            <div class="h4 m-0">$2000</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
