<div class="about-authors row">
  <div class="about-authors-item col-6 col-sm-3">
    <a href="https://twitter.com/alek_sys">
      <img src="/images/authors/alek.sys.jpg" alt="Alek.sys">
      <strong>Alek.sys</strong>
    </a>
    <br>Великобритания
  </div>
  <div class="about-authors-item col-6 col-sm-3">
    <a href="https://twitter.com/ksenks">
      <img src="/images/authors/ksenks.jpg" alt="Ksenks">
      <strong>Ksenks</strong>
    </a>
    <br>США
  </div>
  <div class="about-authors-item col-6 col-sm-3">
    <a href="https://twitter.com/bobuk">
      <img src="/images/authors/bobuk.jpg" alt="Bobuk">
      <strong>Bobuk</strong>
    </a>
    <br>Россия
  </div>
  <div class="about-authors-item col-6 col-sm-3">
    <a href="https://twitter.com/gray_ru">
      <img src="/images/authors/gray.jpg" alt="Gray">
      <strong>Gray</strong>
    </a>
    <br>Украина
  </div>
  <div class="about-authors-item col-6 col-sm-3">
    <a href="http://umputun.com">
      <img src="/images/authors/umputun.jpg" alt="Umputun">
      <strong>Umputun</strong>
    </a>
    <br>США
  </div>
</div>
