{{ define "main" }}
  <div class="py-4 py-lg-6 {{ if .Params.image }}page-with-cover-image{{ end }}">
    <div class="container-fluid">
      <h1 class="display-4 mb-md-4">{{ .Title }}</h1>

      <div class="text-content">
        <div>{{ .Content }}</div>

        <div class="feeds-list row">
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-rss" />
                </svg>
              </div>
              <h3><a href="http://feeds.rucast.net/radio-t">Основной RSS</a></h3>
              <div class="small">И <a href="https://radio-t.com/podcast.rss">альтернативный RSS</a> фид подкаста</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-music" />
                </svg>
              </div>
              <h3><a href="https://podcasts.apple.com/podcast/радио-т/id256504435">iTunes Store</a></h3>
              <div class="small">Обновляется с задержкой от нескольких минут до часа</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-archive" />
              </div>
              <h3><a href="https://radio-t.com/podcast-archives.rss">Архивные выпуски</a></h3>
              <div class="small">Подписка на RSS</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 576 512">
                  <use xlink:href="#icon-glasses" />
                </svg>
              </div>
              <h3><a href="http://feeds.rucast.net/radio-t-special">Гиковские выпуски</a></h3>
              <div class="small">RSS подписка только на гиковские выпуски</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-google-play" />
                </svg>
              </div>
              <h3><a href="https://play.google.com/music/m/Ivrwbk7epyisvafnu45f3zp57oi?t=-">Google Play Music</a></h3>
              <div class="small">Подписка в сервисе</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-spotify" />
                </svg>
              </div>
              <h3><a href="https://open.spotify.com/show/30bhUtGOjPlzIbDKuErRq4?si=0B-dMAX7T0We92F7MqfG2A">Spotify</a></h3>
              <div class="small">Подписка в сервисе</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-telegram" />
                </svg>
              </div>
              <h3><a href="https://t.me/radio_t_podcast">Telegram</a></h3>
              <div class="small">Подписка на новые выпуски</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-telegram" />
                </svg>
              </div>
              <h3><a href="https://t.me/radio_t_chat">Telegram Чат</a></h3>
              <div class="small">Чат подкаста</div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-4 d-flex align-items-stretch flex-row">
            <div class="feeds-list-item p-3 border rounded flex-fill">
              <div class="text-right text-primary">
                <svg width="18" height="18" viewBox="0 0 512 512">
                  <use xlink:href="#icon-telegram" />
                </svg>
              </div>
              <h3><a href="https://t.me/radiot_comments">Telegram Комментарии</a></h3>
              <div class="small">Комментарии к сайту подкаста</div>
            </div>
          </div>
        </div>
      </div>

      <div class="page-share mt-4">{{ partial "share" . }}</div>
    </div>
  </div>
{{ end }}
