{{ define "main" }}
  <div class="py-4 py-lg-6">
    <div class="container-fluid">
      <div
        class="row align-items-center mb-3 mb-md-4"
        data-controller="online"
        data-target="page.playerStateReceiver"
        data-action="player-state->online#fetchPlayingState"
      >
        <div class="col-3 col-sm-2 offset-md-1 offset-lg-2" style="min-width: 5rem;">
          <button class="online-play-button" ata-action="click->online#play">
            <svg class="play-icon" width="48%" height="48%" viewBox="0 0 448 512">
              <use xlink:href="#icon-play" />
            </svg>
            <svg class="pause-icon" width="48%" height="48%" viewBox="0 0 448 512">
              <use xlink:href="#icon-pause" />
            </svg>
          </button>
        </div>
        <div class="col col-md-8 online-countdown">
          <div class="h1">
            <h1 class="d-inline">{{ .Title }}</h1>
            <span class="d-none" data-target="online.label">через</span>
          </div>
          <h3 class="display-4 m-0" data-target="online.time">&nbsp;</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-3 col-lg-6 offset-lg-4">
          <div class="text-content">
            {{ .Content }}
            {{ partial "online-links" . }}
          </div>
          <div class="page-share mt-4">{{ partial "share" . }}</div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
