{{ define "main" }}
  <div class="py-4 py-lg-6">
    <div class="container-fluid">
      <div class="row align-items-center mb-md-4" data-controller="online">
        <div class="col-md-2 offset-md-3">
          <button class="online-play-button" data-action="online#play"></button>
        </div>
        <div class="col-md-6">
          <div class="h1">
            <h1 class="d-inline">{{ .Title }}</h1>
            <span class="d-none" data-target="online.label">через</span>
          </div>
          <div class="display-4 m-0" data-target="online.time">&nbsp;</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-5">
          <div class="text-content">
            {{ .Content }}
            <ul class="list-unstyled">
              <li class="mb-1">
                <i class="far fa-comment-dots fa-fw mr-2"></i>
                <a href="https://gitter.im/radio-t/chat">Чат подкаста</a>
              </li>
              <li class="mb-1">
                <i class="fas fa-align-left fa-fw mr-2"></i>
                <a href="https://news.radio-t.com/">Темы выпусков</a> от авторов
              </li>
              {{ $prep := index (index .Site.Taxonomies.categories "prep").Pages 0 }}
              {{ $podcast := index (index .Site.Taxonomies.categories "podcast").Pages 0 }}
              {{ if and $prep $podcast }}
                <li>
                  <i class="far fa-comments fa-fw mr-2"></i>
                  {{ if gt $prep.Date $podcast.Date }}
                    <a href="{{ $prep.Permalink }}" title="{{ $prep.LinkTitle }}">Предложить тему</a>
                    <small>&rarr;</small>
                  {{ else }}
                    Сбор тем начинается в среду
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </div>
          <div class="page-share mt-4">{{ partial "share" }}</div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
