{{ define "main" }}
    {{ if .Params.image }}<div class="py-4 py-lg-6 page-with-cover-image">{{ else }}<div class="py-4 py-lg-6">{{ end }}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h1 class="display-4 mb-md-4">{{ .Title }}</h1>
        </div>
        <div class="w-100"></div>
        {{ if .Params.image }}
          <div
            class="page-cover-image"
            style="background-image:url('{{ .Params.image }}');"
          ></div>
        {{ end }}
        <div class="col-md-8 order-md-2">
          <div class="text-content">{{ .Content }}</div>
        </div>
        <div class="page-share col-md-2 order-md-1">{{ partial "share" . }}</div>
      </div>
    </div>
  </div>
{{ end }}
