name: build-publisher
on:
  push:
    branches:
    tags:
    paths:
      - '.github/workflows/ci-build-publisher.yml'
      - 'publisher/**'
  pull_request:
    paths:
      - '.github/workflows/ci-build-publisher.yml'
      - 'publisher/**'

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

    - name: check out code
      uses: actions/checkout@v4

    - name: build publisher image
      run: docker build -t radio-t/publisher .
      working-directory: publisher
