name: "Lint JS files"

on:
  push:
    branches:
    tags:
    paths:
      - '.github/workflows/ci-frontend-lint.yml'
      - "hugo/**/*.jsx?"
      - "hugo/**/*.tsx?"
  pull_request:
    paths:
      - '.github/workflows/ci-frontend-lint.yml'
      - "hugo/**/*.jsx?"
      - "hugo/**/*.tsx?"

jobs:
  frontend-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          cache: 'npm'

      - run: npm ci --loglevel warn
        working-directory: hugo

      - uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/hugo/node_modules/.cache
          key: ${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - run: npm run eslint
        working-directory: hugo